@font-face {
  font-family: "Sofia Sans Condensed";
  src: url("../fonts/SofiaSansCondensed-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Sans Condensed";
  src: url("../fonts/SofiaSansCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Sans Condensed";
  src: url("../fonts/SofiaSansCondensed-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
